input[type="button"]{
    font-size: 26px;
    width: 50px;
    background: green;
    height: 50px;
    border-radius: 20px;
    border: black;
    margin: 1px 1px ;
}

input[type="text"]{
    font-size: 30px;
    width: 320px;
    background-color: #a3f3ff;
    height: 40px;

}
#b {
    width: 106px;
    height: 50px;
}
